:root{
    --green: #1c850e;
    --blue: #13ac9f;
    --orangeMuted: #faca61;
    --orange: #ffae00;
}

span.keyWord{
    color: var(--blue);
}

/* section classes */
#overview, #locationAndTimePeriod, #funFacts, #map{
    background: var(--orangeMuted);
    border-radius: 12px;
    padding: 10px;
    border: 2px solid var(--orange);
}
#overview, #funFacts{
    display: flex;
}
#overview img{
    max-width: 50%;
    height: auto;
    width: auto;
    object-fit: contain;
}
#map{
    background: var(--orange);
    border-radius: 12px;
    padding: 10px;
    border: 2px solid var(--green);
}
#overview, #locationAndTimePeriod{
    font-size: 2rem;
}
#funFacts{
    font-size: 1.5rem;
}

.citation{
    color: gray;
    font-size: .7rem;
}

@media (max-width: 800px) {
    #overview, #funFacts{
        display: flex;
        flex-wrap: wrap;
    }
    #overview img{
        max-width: none;
        width: 100%;
        height: auto;
    }
}