:root{
    --green: #1c850e;
    --blue: #13ac9f;
    --orangeMuted: #faca61;
    --orange: #ffae00;
}

body{
}

nav{
    background-color: var(--blue);
    position: sticky;
    top: 0;
}
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: white;
}

#fossilization, #highlightedDino{
    background-color: var(--orange);
}

section{
    border: 2px solid var(--orangeMuted)
}

h1{
    font-size: 3rem;
    color: var(--green);
}
h2{
    font-size: 2rem;
    color: var(--green);
}