:root{
    --green: #1c850e;
    --blue: #13ac9f;
    --orangeMuted: #faca61;
    --orange: #ffae00;
}

body{
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.overlayText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
   
}

.overlayText h2 {
    font-size: 2.5rem;
    color: white;
     -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--orange);

}

img{
    max-width: 100%;
    height: auto;
}

nav{

    background-color: var(--blue);
    position: sticky;
    top: 0;
}
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0;  
    padding: 0;
}


nav a {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: background 0.3s ease;
}

nav a:hover {

    background-color: white;
    color: black;
}

nav a:active {

    background-color: var(--orange);
}

#fossilization, #highlightedDino{
    background-color: var(--orange);
}

section{
    padding: 40px 20px;
}

h1{
    font-size: 3rem;
    color: var(--green);
}
h2{
    font-size: 2rem;
    color: var(--green);
}

#prices {

background-color: var(--blue);
color: white;
}

#prices h2 {
    color: black;
}


#reservations {
    padding: 40px 20px;
    margin: 0 auto;
}

#reservations form{

    background-color: var(--orangeMuted);
    padding: 25px;
    border-radius: 12px;
    border:2px solid var(--orange);;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#reservations form div {

    display: flex;
    flex-direction: column;
}

#reservations label {   
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px;
    color: var(--green);

}

#reservations input,
#reservations textarea {
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    outline: none;
    font-family: inherit;
}

#reservations input:focus,
#reservations textarea:focus {

    outline: 2px solid var(--blue);

}

#submitReservation {

    margin-top: 12px;
    padding: 15px;
    border:none;
    border-radius: 10px;
    background-color: var(--blue);
    color: white;
    transition: all 0.3s ease;

}

#submitReservation:hover {

    transform: translate(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.0);
}

#people {

    padding: 40px 20px;
    max-width: 1200px;
    text-align: left;
}

.peopleCardGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.peopleCard {
    background: var(--orangeMuted);
    border-radius: 12px;
    display: flex;
    padding: 10px;
    overflow: hidden; 
    border: 2px solid var(--orange);
}

.textGroup {
    padding: 20px;
    text-align: left;
}

.peopleCard img{
    margin: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

@media (min-width: 800px) {


     .peopleCard {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .peopleCardGroup{
        grid-template-columns: 1fr;
    }

    .peopleCard img {
        width: 100%;
        height: auto;
        max-width: 250px;
    }

    .textGroup {
        padding: 10px;
    }

    .overlayText h2 {
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
    }
}



/* Ashley's additions */
/* hero */
.hero{
    position: relative;
    display: inline-block;
}
.hero img{
    width: 100vw;
    height: auto;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(255,255,255,1));
}

/* snapshots */
#snapshots a{
    text-decoration: none;
    color: black;
}
#snapshots img{
    max-width: 50%;
    height: auto;
    width: auto;
    object-fit: contain;
    overflow: hidden;
}
#fossilization:hover, #highlightedDino:hover{
    transform: translateY(-5px);
    box-shadow: 5px 10px 5px black;
    background-color: var(--blue);
}
#fossilization, #highlightedDino{
    display: flex;
    transition: all 0.3s ease;
    background: var(--orange);
    border-radius: 12px;
    padding: 10px;
    border: 2px solid var(--green);
    justify-content: space-between;
}

/* hoursAndLocation */
#hoursAndLocation{
    display: flex;
    background: var(--orangeMuted);
    border-radius: 12px;
    display: flex;
    padding: 10px;
    overflow: hidden; 
    border: 2px solid var(--orange);
}
#location{
    display: flex;
    flex-wrap: wrap;
}
#location #textGroup{
    max-width: 200px;
}
iframe{
    width: 60vw;
    min-height: 100px;
    max-height: 300px;
}