.volunteerLayout {
    display: block;
}

#description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin: 30px;
}

#description p {

    font-size: 1.3rem;
}

#lookFor {
    background: #f7f7f7;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#lookFor h1 {

    margin-bottom: 10px;
}

#lookForCardsGroup h2 {
    
    margin-bottom: 10px;
    font-size: 1.4rem;
}

#lookForCardsGroup p {
    font-size: 1rem;
    line-height: 1.5;
}
   
#lookForCardsGroup{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

#lookForCardsGroup h2, 
#lookForCardsGroup p {

    color: white;
}

#lookForCardsGroup > div {
    background: var(--blue);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;;
}

#lookForCardsGroup >div:hover {

    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);;
}


#textGroup {
    padding: 20px;
    text-align: left;
}

.positions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.position-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f7f7f7;
    border-radius: 16px;
    padding: 15px;
}


.position-item h3 {
    font-size: 2rem;
    margin: 0;
    color: var(--green);
}

.position-item p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.position-item button {
    align-self: left;
    width: 200px;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: var(--blue);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.position-item button:hover {
    background: var(--green);
}

footer {
    background-color: var(--blue);
color: white;
padding: 20px;
}

/*Avas Volunteering Application Form Styling*/

form#application {
    margin: 20px auto;
    max-width: 600px;
    padding: 25px;

    background-color: var(--orangeMuted);
    border-radius: 16px;
    border: 2px solid var(--orange);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    
}

form#application label,
form#application p {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--green);
}

form#application input[type="text"],
form#application input[type="email"],
form#application textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    outline: none;
    font-family: inherit;
}

form#application label[for="researcher"],
form#application label[for="cleaner"],
form#application label[for="apprentice"] {

    width: 100%;
    font-size: 1rem;
    color: #3d3d3d;
}

form#application input:hover,
form#application textarea:hover {
     transition: 0.3s ease;
     transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0, 0.4);
}

form#application input:focus,
form#application textarea:focus {
    outline: 2px solid var(--blue);
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.radio-group input[type="radio"] {
    width: auto;
    margin: 0;
}

.radio-group label {
    font-weight: normal;
    color: black;
}

form#application button[type="submit"] {
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

form#application button[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);



@media (max-width: 800px) {

    .volunteerLayout {

        display: block;
        gap: 40px;
        align-items: flex-start;
    }

    #description{
        flex: 1;
    }

    #lookFor {
        flex:2;
    }

    .position-item button {
        align-items: center;
    }
}
